* {
    font-family: Arial !important;
}
.center {
    margin: auto;
    border: 1px solid green;
}

input, button {
    font-size: 30px;
}

div, ul {
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: #BBDBF7;
    text-align: center;
}

#table {
    font-size: 30px;
}